<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Descripcion de portada -->
    <meta name="keywords" content="#Node.js & #Ejs">
    <meta name="description" content=" Calculadora | React03 | DoriAss">


    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Favicon -->
    <!-- El estilo de pestaña puede variar dependiendo el foco -->
    <link id="favicon" rel="shortcut icon" href="/images/calculator.ico" type="image/x-png">
    <title>Calculadora | Doriass</title>

  </head>