<html lang="es">

<head>
    <!-- Estilos de pagina Stylesheet -->
    <link rel="stylesheet" href="./css/dark.css" id="theme">
    <!-- <link rel="stylesheet" href="./css/light.css"> -->
    <!--Inlcuicion del head-->
    <%- include('../partials/head') %>
</head>

<body>
    
    <!-- Incluciones -->
    <%- body %>    
<!-- scrip.js links -->
<script src="/js/script.js"></script>

<!-- ==== Fin del los CDN de todos los JAVASCRIPT ==== -->
</body>
</html>